### iMito QX1
### compatible devices: TODO
### requires a patched kernel: ACT8846_DCDC4_30V, RFKILL_RK_POWERON_PIN3_PD1, RFKILL_RK_RESET_INVALID_GPIO, RFKILL_RK_WAKE_PIN3_PC7, RFKILL_RK_WAKE_HOST_PIN3_PC6
### modded by leolas
CONFIG_TCC_BT_DEV_POWER_PIN3_PD1=y
CONFIG_ACT8846_DCDC4_30V=y
CONFIG_RFKILL_RK_POWERON_PIN3_PD1=y
CONFIG_RFKILL_RK_RESET_INVALID_GPIO=y
CONFIG_RFKILL_RK_WAKE_PIN3_PC7=y
CONFIG_RFKILL_RK_WAKE_HOST_PIN3_PC6=y
CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND=y
# CONFIG_CPU_FREQ_DEFAULT_GOV_INTERACTIVE is not set
CONFIG_CPU_FREQ_GOV_ONDEMANDX=y
CONFIG_CPU_FREQ_GOV_INTERACTIVEX=y
CONFIG_CPU_FREQ_GOV_BRAZILIANWAX=y
CONFIG_CPU_FREQ_GOV_SAVAGEDZEN=y
CONFIG_CPU_FREQ_GOV_ADAPTIVE=y
CONFIG_CPU_FREQ_GOV_HYPER=y
CONFIG_CPU_FREQ_GOV_INTELLIDEMAND=y
CONFIG_CPU_FREQ_GOV_LIONHEART=y
CONFIG_CPU_FREQ_GOV_LULZACTIVE=y
CONFIG_CPU_FREQ_GOV_MINMAX=y
CONFIG_APM_EMULATION=y
CONFIG_WIRELESS_EXT=y
CONFIG_WEXT_PRIV=y
CONFIG_RFKILL_INPUT=y
CONFIG_RFKILL_REGULATOR=y
CONFIG_TCC_BT_DEV=y
CONFIG_WLAN=y
CONFIG_WLAN_80211=y
# CONFIG_WIFI_NONE is not set
# CONFIG_BCM4329 is not set
# CONFIG_BCM4319 is not set
# CONFIG_RDA5990 is not set
# CONFIG_MV8686 is not set
# CONFIG_MT5931 is not set
# CONFIG_MT5931_MT6622 is not set
# CONFIG_RTL8192CU is not set
CONFIG_RTL8188EU=y
# CONFIG_RT5370 is not set
# CONFIG_AR6003 is not set
# CONFIG_RKWIFI is not set
# CONFIG_INPUT_APMPOWER is not set
# CONFIG_APM_POWER is not set
# CONFIG_REGULATOR_FIXED_VOLTAGE is not set
# CONFIG_REGULATOR_USERSPACE_CONSUMER is not set
CONFIG_LCDC_RK3188=y
# CONFIG_LCDC0_RK3188 is not set
CONFIG_LCDC1_RK3188=y
# CONFIG_LCDC1_IO_18V is not set
CONFIG_LEDS_REGULATOR=y
# CONFIG_W35UND is not set
# CONFIG_PRISM2_USB is not set
# CONFIG_R8712U is not set
# CONFIG_VT6656 is not set
CONFIG_RK29_IPP=m
# CONFIG_ATH6K_LEGACY is not set
